BETTER_AUTH_SECRET=
SITE_URL=http://localhost:3000
NEXT_PUBLIC_CONVEX_URL=
NEXT_PUBLIC_CONVEX_SITE_URL=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
MPP_SECRET_KEY=
MPP_RECIPIENT_ESCROW_ADDRESS=
MPP_FUNDING_TOKEN_ADDRESS=
